<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>

	<body style="background-color: #cdefce;">
		<div class="mui-content" style="background-color:rgba(255, 255, 255, 0)">
			<div class="mui-content-padded">				
			<p>从朱莉家出来后，盛夏在招待所将就了一夜。闺蜜小雅想让盛夏住她家去，但盛夏没同意。</p>
			<p>小雅和她男朋友挤在一个二十多平的一室户里，就算能挪出地方来给她，两个女的，一个男的，也太不方便。</p>
			<p>盛夏无奈之下，就搬到了自己打临时工的超市。</p>
			<p>这家超市是西林本土的一家小型连锁店。店面铺得广，员工又多，提供住的地方，所以工资不高。</p>
			<p>盛夏以前也想过要住超市宿舍。可是……就一个一百平的仓库，还要隔开男女宿舍，洗澡间，卫生间，厨房，饭厅。四个女工，七个男工挤在一处。</p>
			<p>这种地方，人多，又杂又乱，她一个刚毕业的小女生，很不安全。何况，店里的主管是个出了名的老色鬼。以往就对几个女工动过坏心思。之前不在这里住，没觉得有多大不了。但是现在，朝夕见面，他时不时调戏刁难，就觉得难堪了许多。</p>
			<p>再有，她刚来住第一天的时候，是跟另外一个女工挤一块。当时她想着能等来程悦导演那边的通知，只说借住几天就好。</p>
			<p>谁知道，现在七天过去了，导演那边依旧没有消息。</p>
			<p>而几个女工见她一直不走，也心生了不满。</p>
			<p>这个时候，再提出来要在这边多铺一张床？</p>
			<p>盛夏有些开不了口。</p>
			<p>这个社会，就是这样。你自己觉得跟他们没什么两样，但一个大学毕业生的身份就跟这些初中生毕业的女工有了天壤之别。更何况她身材好，样貌好，气质好，超市的男工处处迁就她，就更让那些女工嫉妒。</p>
			<p>可，不住在这里……又真的是没有地方可以去。</p>
			<p>下了班，陆陆续续的几个女工都回了宿舍，人员都到齐了。</p>
			<p>面子值几个钱呢？还是拉下脸来说好了。</p>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>