<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>
	<style>
		.mui-bar-tab~.mui-content{
			padding-bottom: 0px;
		}
		.mui-bar-nav~.mui-content{
			padding-top: 0px;
		}
		.mui-content{
			background-color:transparent;
			margin: 10px;
			line-height: 25px;
		}
		.mui-bar {
			background-color: #272727fc !important
		}
		.fontColor{
			color: #929292 !important
		}
		.tbhidden{
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
		}
		p{margin-bottom: 0px;text-align:justify}
	</style>
	<body style="background-color: #283548;">
		<header id="header" class="mui-bar mui-bar-nav tbhidden" style="box-shadow:0 1px 6px #000;">
			<a class="mui-icon mui-action-back mui-icon mui-icon-left-nav mui-pull-left fontColor" ></a>
			<h1 class="mui-title fontColor">标题</h1>
			<button class="mui-btn mui-btn-link mui-pull-right fontColor" >编辑</button>
		</header>
		<nav class="mui-bar mui-bar-tab tbhidden">
			<a class="mui-tab-item mui-active" href="#tabbar">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-chat">
				<span class="mui-icon mui-icon-email"><span class="mui-badge">9</span></span>
				<span class="mui-tab-label">消息</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-contact">
				<span class="mui-icon mui-icon-contact"></span>
				<span class="mui-tab-label">通讯录</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-map">
				<span class="mui-icon mui-icon-gear"></span>
				<span class="mui-tab-label">设置</span>
			</a>
		</nav>
		<div class="mui-content">
			
		</div>
		<!--<div style="position:fixed;height: 50px;width: 50px;top:358px;bottom: 0;left: 100px;right: 100px;margin: 0 auto;background-color: #FFFFFF;">
			1111
		</div>-->
		<script src="../js/mui.min.js"></script>
		<script src="../js/Chapter.js"></script>
		<script type="text/javascript">
			var _self = plus.webview.currentWebview();
			mui.init({
				swipeBack:true,
				beforeback: function(){
//					var list = plus.webview.getWebviewById(_self.pageId);
//					mui.fire(list,'screen');
					return true;
				}
			});
			var MaxLine,Maxheight = 0;
			mui.plusReady(function(){				
				if(mui.os.ios){
					_self.setStyle({popGesture:'none'});
				}
				if(plus.navigator.isImmersedStatusbar()){
					//浸泡式增高
					immersed = plus.navigator.getStatusbarHeight();
					var t=document.getElementById('header');
					t.style.height = (44+immersed)+'px'
					t.style.paddingTop=immersed+'px';
				}
				//设置显示最大高度
				var body = document.querySelector(".mui-content")
				Maxheight = window.screen.availHeight - 20 ;
				body.style.height = Maxheight +'px'
				body.style.width = (window.screen.availWidth - 20) +'px';				
				Chapter.init(Maxheight,25,body);
				Chapter.getTxt();
			});
			mui.ready(function(){
				//延迟全屏
				setTimeout(function(){
					plus.navigator.setFullscreen(true);
				},200);				
//				countLines();
			});
			document.querySelector(".mui-content").addEventListener("tap",function(e){
				var list = document.querySelectorAll(".tbhidden");
				if(list.length > 0) {
					for(var i = 0; i < list.length; i++) {
						list[i].classList.remove("tbhidden");
					}
					plus.navigator.setFullscreen(false);
				}else{
					var list = document.querySelectorAll(".mui-bar");
					for(var i = 0; i < list.length; i++) {
						list[i].classList.add("tbhidden");
					}
					plus.navigator.setFullscreen(true);
				}
			});
			//计算行高
			function countLines() {
				var ele = document.querySelector(".mui-content");
			    var styles = window.getComputedStyle(ele, null);
			    var lh = parseInt(styles.lineHeight);
			    var h = parseInt(styles.height);
			    var lc = Math.round(h / lh);
			    console.log('line count:', lc, 'line-height:', lh, 'height:', h);
			    return lc;
			}
		</script>
	</body>

</html>