<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>

	<body style="background-color: #cdefce;">
		<div class="mui-content" style="background-color:transparent">
			
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/webviewGroup.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">			
			var _self;
			mui.init({
				swipeBack:false
			});
			var Fullscreen = plus.navigator.isFullscreen();
			
			mui.plusReady(function(){
				_self = plus.webview.currentWebview();
				if(mui.os.ios){
//					_self.setStyle({popGesture:'none'});
				}
				plus.navigator.setStatusBarStyle("UIStatusBarStyleBlackOpaque");
				plus.navigator.setFullscreen(true);
				var group = new webviewGroup(_self.id,{
					items:[{
						id: "Page1",
						url: "BookPage1.html",
						extras: {}
					},{
						id: "Page2",
						url: "BookPage2.html",
						extras: {}
					},{
						id: "Page3",
						url: "BookPage3.html",
						extras: {}
					}],
					onChange:function(obj){
						var c = document.querySelector(".mui-control-item.mui-active");
						if(c) {
							c.classList.remove("mui-active");
						}
//						console.log(JSON.stringify(obj));
//						group.switchTab("BookPage1.html");
					}
				});
				
			});
			
			mui.back = function() {
				var _self = plus.webview.currentWebview();
				_self.close("auto");
			}
			
			
			
			
			
			var colorArr = [{
                    value: '#f7eee5',
                    name: '米白',
                    font: ''
                }, {
                    value: '#e9dfc7',
                    name: '纸张',
                    font: '',
                    id: "font_normal"
                }, {
                    value: '#a4a4a4',
                    name: '浅灰',
                    font: ''
                }, {
                    value: '#cdefce',
                    name: '护眼',
                    font: ''
                }, {
                    value: '#283548',
                    name: '灰蓝',
                    font: '#7685a2',
                    bottomcolor: '#fff'
                }, {
                    value: '#0f1410',
                    name: '夜间',
                    font: '#4e534f',
                    bottomcolor: 'rgba(255,255,255,0.7)',
                    id: "font_night"
                }];
		</script>
	</body>

</html>