<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>

	<body style="background-color: #cdefce;">
		<div class="mui-content" style="background-color:rgba(255, 255, 255, 0)">
			<div class="mui-content-padded">

			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
            mui.init();
            mui.plusReady(function(){
                var self = plus.webview.currentWebview();
                var subpages = ["BookPage1.html"];
            });
		</script>
	</body>

</html>